/* DO NOT CHANGE THIS ROOT CLASS NAME*/
#task-5 { // should be #task-4

  /* Styles goes here */
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form-group {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  button::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fa193a;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  button:hover::before {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  button {
    border: none;
    color: white;
    background-color: #f3566d;
    width: 152px;
    height: 40px;
    margin-top: 29px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 17px;
    font-family: muli-semibold;
    border-radius: 20px;
    overflow: hidden;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
  }

  input {
    border: 1px solid #ccc;
    display: block;
    height: 40px;
    padding: 0 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 20px;
    font-family: muli-bold;
    background: 0 0;
  }

  input:hover {
    background-color: #F7F7F7;
  }

  input:focus,
  input:focus-visible {
    border: 1px solid #f3566d;
    outline: none;
    background: 0 0;
  }

  label {
    font-family: muli-regular;
    color: #666;
    font-size: 17px;
    margin-left: 10px;
  }
}